*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
  }

.currency-converter{
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
}
.heading {
    color: #003366; 
    font-size: 45px; 
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    font-weight: bold;
    margin-top: 20px; 
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heading i {
  margin-right: 10px; 
  font-size: 35px; 
  color: #4CAF50; 
}

.heading:hover {
  color: #4CAF50; 
  transform: scale(1.1);
  transition: all 0.3s ease-in-out; 
}

  @media (max-width:768px) {
    .heading{
        font-size: 22px;
    }
    .heading i{
        font-size: 20px;
    }
  }
.inputbox,.resultbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.fromCurrency,.toCurrency,.amount,.result{

    width: 500px;          /* Wider */
    height: 60px;          /* Taller */
    font-size: 24px;       /* Bigger text */
    padding: 10px 15px;    /* Internal spacing */
    border-radius: 8px;    /* Rounded corners */
    /* border: 2px solid #ccc; */
    border: 1px solid #81d4fa;
    background-color:  #b9e0f3;
}

@media (max-width:768px) {
    .fromCurrency,.toCurrency,.amount,.result{

        width: 250px;          
        height: 80px;         
        font-size: 18px;      
        padding: 10px 15px;   
        border-radius: 8px;    
  
        border: 1px solid #81d4fa;
        background-color:  #b9e0f3;
    }
}
.fromCurrency:focus, .amount:focus {
    border-color: #007BFF;
  }
.toCurrency:focus, .amount:focus {
    border-color: #007BFF; 
  }

  .btn{
    width: 150px;
    height: 60px;
    font-size: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn:hover{
    background: #b9e0f3;
    color: #007BFF;
    font-weight: bolder;
    font-size: xx-large;
  }

  